<div class="container">
  <div class="col" align="center">
    <br>
    <h1><b>Overview</b></h1>
    <p>
      Making Angular App using <a href="https://jsonplaceholder.typicode.com/">
        JSON PlaceHolder</a> as the API for this App.
      The purpose of this app, is for me to pratice producing an Angular app and
      then use it reference for myself for future Anuglar projects. This project
      is going to be a "Single-page application". Showing basic routing between
      compoments. There will four main compoments displayed on the navbar:
      <b>Posts</b>, <b>Comments</b>, <b>Photos</b> and <b>Users</b>. The "Posts"
      compoment will show a list of posts. Each post can be be clicked on to
      show the contents the post. Same thing goes for the "Comments" compoment.
      For the "Photos" compoment, it will show a gallery of photos from the API.
      The last compoment "Users" will display a list of users. Each user can be
      clicked on to display a profile.
      <a href="https://github.com/NuclearOreo/JSONPlaceHolder-App">
        Here's a link to the Repo</a>
      </p>
      <br>
  </div>
</div>
