<div class="container">
  <div class="col" align="center">
    <br>
    <h1><b>Overview</b></h1>
    <p>
      Making Angular App using <a href="https://jsonplaceholder.typicode.com/">
        JSON PlaceHolder</a> as the API for this App.
      The purpose of this app is for me to pratice producing an Angular app and
      then use it as reference for myself for future Anuglar projects. This project
      is going to be a "Single-page application". It will be showing basic routing between
      components. There will four main components displayed on the navbar:
      <b>Posts</b>, <b>Comments</b>, <b>Photos</b>, and <b>Users</b>. The "Posts"
      component will show a list of posts. Each post can be be clicked on to
      show the contents of the post, same concept goes for the "Comments" component.
      The "Photos" component will show a gallery of photos from the API.
      The last component labelled "Users" will display a list of users. Each user can be
      clicked on to display a profile.
      <a href="https://github.com/NuclearOreo/JSONPlaceHolder-App">
        Here's a link to the Repo</a>
        The App will show basic routing between components, HTTP comsumption from
        an API, use of directive in pages, using services with components, and
        reusable components.
        Almost all the information
        displayed in this app will come from
        <a href="https://jsonplaceholder.typicode.com/">
          JSON PlaceHolder</a>. It show will all the information from the API dynamically.
      </p>

      <br>
  </div>
</div>
